.footer_content{
    width:100%;
    height:500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_content .news_letter_Section{
    width:100%;
    height:150px;
    border:2px solid white;
    display: flex;
}
.news_letter_Section h1{
    color:#ffd900;
    margin-left:150px;
}
.news_letter_Section{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_letter_Section .input_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:80%;
}
.news_letter_Section .input_feild{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_feild .newsletter_input{
    width:650px;
    height:50px;
}
.input_feild .submit_button{
    width:150px;
    height:50px;
    background-color: #ffd900;
    color:rgb(0, 0, 0);
    font-weight: 900;
    border-left:none;
    font-size: 18px;
    cursor: pointer;
}
.input_feild input::placeholder{
    font-size: 20px;
}
.news_letter_Section h4{
    color:white;
    margin-left:-170px;
}
.footer_content .footer_links{
    width:100%;
    height:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:3px solid white;
}
.footer_links .logo_social_icons{
    width: 100%;
    height: 100%;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_social_icons h3{
    color:white;
}
.logo_social_icons span{
    display: flex;
    color:white;
    font-size:24px;
}
.logo_social_icons .footer_logo{
    width:120px;
    height:120px;
    border-radius:5px;
    margin-top:10px;
}
.footer_links .Product_links{
    width: 100%;
    height: 100%;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Product_links h2{
    color:white;
    margin-top:30px;
    letter-spacing: 2px;
}
.Product_links h2 hr{
    height:7px;
    background-color: #ffd900;
    width:80%;
    margin-top:10px;
}
.Product_links .useful_links{
    width: auto;
    height:auto;
    border:1px solid #ffffff;
    margin-top:35px;
}
.footer_links .footer_useful_links{
    width: 100%;
    height: 100%;
    border:1px solid white;
    display: flex;
    flex-direction: column;
}
.footer_links .company_links{
    width: 100%;
    height: 100%;
    border:1px solid white;
}
.footer_links .address_links{
    width: 100%;
    height: 100%;
    border:1px solid white;
}
