*{
   text-decoration: none;
}
.categeories{
  width:80%;
  height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.categeories_section{ 
    width:100%;
    height:100%;
    display: flex;
   justify-content: space-evenly;
    gap:10px;
}
.categeories_section .cat_pro{
  width:200px;
  height:300px;
  border:1px solid black;
  
}

.cat_pro img{
  width:150px;
  height:200px;
  object-fit: contain;
}

