/* seciton-1 for home-page*/
.hm_banner{
    max-width:100%;
    height:450px;
    border:1px soild black;
    background-color: grey;
    position: relative;
}
.hm_banner .home_banner_img{
    width:100%;
    height:100%;
}
.home_banner_img img{
    width:100%;
    height:100%;
    object-fit:fill;
}
